.short-day-container {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.short-day-pick {
    height: 260px;
    width: 150px;
    /* border-right: solid 1px;
    border-top: solid 1px;
    border-bottom: solid 1px; */
    text-align: center;
    vertical-align: middle;
    scroll-behavior: auto;
    margin: 0;
    background-color: lightgray;
    cursor: pointer;
}

.short-day-pick-container {
    display: inline-block;
    vertical-align: bottom;
}

.short-day-pick-v {
    height: 40px;
    background-color: lightgray;
    width: 120px;
    border: solid 1px;
    margin-bottom: 5px;
}


.short-day-pick-selected {
    background-color: rgb(0,136,238);
    margin: 0;
    height: 56px;
    border-radius: 10px 10px 0 0;
    border: solid 5px rgb(0,136,238);
}

.short-day-pick-selected h1 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
}

.short-picker-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: auto;
}
/* 
.short-picker-container > div {
    border: solid 1px;
  
    display: block;
} */

.calendar-container {
    display: flex;
    align-items: center;
}

.time-pick {
    list-style: none;
}




.tslot-container {
    margin-bottom: 10px;
    height: 60px;
    width: 380px;
}

.tslot-selector {
    background-color: rgb(0,136,238);
    height: 100%;
    width: 60px;
    vertical-align: bottom;
    text-align: center;
    color: white;
    padding-top: 1%;
    border-radius: 10px 0 0 10px;
}

.tslot-content {
    width: 300px;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
    border: solid 1px;
    cursor: pointer;
}

.tslot-content * {
    display: inline-block;
    vertical-align: top;
}

.tslot-content > h1 {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.5em;
}

.tslot-stats {
    width: 40px;
    text-align: center;
    margin-top: 12px;
    margin-left: 40px;
}

.tslot-label {
    text-align: center;
    line-height: 1;
    margin-top: 8px;
    margin-left: 35px;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-container {
    padding-top: 120px;
    padding-bottom: 80px;
}